
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    height: 100%;
    background: #F96F0D;
    width: 20%;
    margin: 0;
}

.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-indent: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*custom css*/
.search_panel {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #F03590;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.search_panel .style {
    font-size: 14pt;
    color: white;
}

.search {
    margin-left: 13px;
}

.mm{
    margin-left: 20%;
}

.title_img_div{
    margin-left: 13%;
    margin-bottom: 10px;
    margin-top:20px;
    width: 80%
}

.title_img{
    height: auto; 
    width: auto; 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 90%; 
    max-height: 80%;
}
