<div ng-controller="DensityMapController" class="mm">
      <leaflet lf-center="center" events="events" controls="controls" legend="legend" height="100vh" geojson="geojson"></leaflet>
      <div class="worldmap country f32">
        <div ng-show="selectedState"></div>
        <p>Density Map</p>
        <p class="hover-map">Hover over a state</p>
        <p class="state-name">{{ selectedState.properties.name || 'No State Name'}}<p>
        <p ng-show=selectedState.properties.density><span class="person-density">{{ selectedState.properties.density}}</span>{{densityText}}</p>
        <p ng-show=!selectedState.properties.density>{{selectedState.properties.densityDetail}}</p>
      </div>
 </div>