<!DOCTYPE html>
<html lang="en" ng-app="ddLocators">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./img/DD_Coffee.jpeg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=5">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Donkin's Donuts</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!-- Other CSS -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/density_map.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <img src="img/DD_Title.jpg" class="title_img">
                <ul class="sidebar-nav" >
                    
                    <div ng-controller="SearchController" class="row">
                        <li class="search" ng-click="isCollapsed = !isCollapsed">
                            <a href="#/">Search</a>
                        </li>
                        <div uib-collapse="isCollapsed" class="col-md-12 col-lg-12 search_panel">
                          <div class="row">  
                            <div class="col-md-12 col-lg-12">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Input Zip Code or Address" ng-model="address">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" ng-click="search()">Search</button>
                                  </span>
                                </div><!-- /input-group -->
                            </div>
                         </div><!-- /row -->   

                         <br>
                            <!--drop down for distance-->
                          <div class="row">  
                            <div class="dropdown col-md-12  col-lg-12">
                                <label for="singleSelect">Select Distance: </label>
                                <br> 
                                   <select name="singleSelect" ng-model="radius" ng-change="selectDistance()">
                                      <option value=10>10</option>
                                      <option value=20>20</option>
                                      <option value=50>50</option>
                                      <option value=100>100</option>
                                      <option value=10000 selected="selected">Unlimited</option>
                                    </select>
                                <br>                        
                            </div><!-- /dropdown -->      
                          </div> <!-- /row --> 
                         <br> 
                          <!-- Only Show Restaurants with -->                        
                          <div class="row col-md-12  col-lg-12">
                            <div >
                              <label class="style">Only Show Restaurants with</label>
                            </div>
                            <div class="checkbox">
                              <label class="style">
                                <input type="checkbox" ng-model="wifiConfirmed" ng-change=featureChanged()>
                                Wifi
                              </label>
                            </div>
                            <div class="checkbox">
                              <label class="style"><input type="checkbox" ng-model="drivethroughConfirmed" ng-change=featureChanged()>Drive Through</label>
                            </div>
                            <div class="checkbox">
                              <label class="style"><input type="checkbox" ng-model="fulldayConfirmed" ng-change=featureChanged()>24 Hours</label>
                            </div>
                            <div class="checkbox">
                              <label class="style"><input type="checkbox" ng-model="fullmenuConfirmed" ng-change=featureChanged()>Full Menu</label>
                            </div>
                          </div> 
                        </div>
                    </div>

                    <li>
                        <a href="#/density">Interactive Density Map</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li ng-click="isContactCollapsed = !isContactCollapsed">
                        <a>Contact</a>
                    </li>
                    <div ng-show="isContactCollapsed" class="contact">
                        <div>
                            <p>Author: Xueying Gu</p>
                            <p>Email: xgujavascript@gmail.com</p>
                        </div>
                    </div>
                </ul>
                
            </div>

            <div class="container-fluid">
                    <div ng-view></div> 
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Google Maps JavaScript API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqHFk6cvx0Re65QYLKQvdodgpDqidcnzk">        
    </script>
    <!-- Bootstrap Core JavaScript --> 
    <script src="js/bootstrap.min.js"></script>
    <!--Angular JavaScript-->
    <script src="bower_components/angular/angular.min.js"></script>
    <!--Angular Bootstrap JavaScript-->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--Leaflet JavaScript-->
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="bower_components/leaflet-plugins/layer/Icon.Canvas.js"></script>
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!--Core JavaScript-->
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>
    <script src="js/app.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
